<main class="flex flex--column box-sizing overflow--hidden">
  <h1 class="no-margin">My favourite music list</h1>
  <form [formGroup]="searchFormGroup" (submit)="searchFromApi()">
    <mat-form-field>
      <mat-label>Search interpret by name</mat-label>
      <button matSuffix mat-icon-button aria-label="Clear" type="button">
        <mat-icon>close</mat-icon>
      </button>
      <button matSuffix mat-icon-button aria-label="Search" type="submit">
        <mat-icon>search</mat-icon>
      </button>
      <input matInput type="text" placeholder="Search..." formControlName="searchValue" />
    </mat-form-field>
  </form>
  <div class="flex flex--1-1-0 overflow--hidden">
    <section class="flex--1-1-0 flex--align-start list--wrapper overflow--y list--border">
      <h2 class="list--header no-margin">Founded interprets</h2>
      <ng-container *ngIf="interprets$ | async as interprets">
        <ng-container *ngFor="let interpret of interprets.results">
          <article
            class="flex flex--column list--item clickable"
            (click)="goToDetail(interpret.artistId)"
          >
            <p class="no-margin">Name: {{ interpret.artistName }}</p>
            <p class="no-margin">Gendre: {{ interpret.primaryGenreName }}</p>
          </article>
        </ng-container>
      </ng-container>
    </section>

    <section class="flex--1-1-0 flex--align-start list--wrapper overflow--y">
      <h2 class="list--header no-margin">Favourite list</h2>
      <ng-container *ngFor="let interpret of favouriteInterprets">
        <article
          class="flex flex--column list--item clickable"
          (click)="goToDetail(interpret.artistId)"
        >
          <p class="no-margin">Name: {{ interpret.artistName }}</p>
          <p class="no-margin">Fav albums: {{ interpret.albums }}</p>
        </article>
      </ng-container>
    </section>
  </div>
</main>
