/* You can add global styles to this file, and also import other style files */

@use './scss/global';
@use './scss/flex';
@use './scss/margin-padding';
@use './scss/list';
@use './scss/typo';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

main {
  height: 100vh;
  padding: 16px;
}

.clickable {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
