.flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--1-1-0 {
    flex: 1 1 0;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-space-between {
    justify-content: space-between;
  }

  &--align-start {
    align-content: flex-start;
  }

  &--align-item-center {
    align-items: center;
  }
}
