.list {
  &--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &--header {
    grid-column: 1 / 3;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 16px 8px;
  }

  &--item {
    list-style: none;
    background-color: #efe5fd;
    padding: 8px;
    margin: 8px;
    height: 48px;
    justify-content: space-evenly;
  }

  &--border {
    border-right: 1px dashed #ccc;
  }
}
